.resetQueryButton {
    font-size: 14px;
    font-weight: 500;
    color: var(--grey-600);
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    min-width: 81px;
    border: none;
    height: 20px;
    align-self: flex-start;
    margin-top: 43px;
}

.active {
    color: var(--purple-500);
}
