.movieCardContent {
    display: flex;
    gap: 16px;
}

.movieCardDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movieCardGeneral {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.movieCardRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.movieCardGenres {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: nowrap;
    font-size: 16px;
    color: var(--black);
}

.movieCardInfo {
    display: flex;
    gap: 20px;
}

.movieCardInfoValues,
.movieCardInfoTitles {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.movieCardInfoTitles {
    color: var(--grey-600);
}

.genresTitle {
    color: var(--grey-600);
}

.cardTitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.cardSection {
  border-bottom: 1px solid var(--grey-300);
  padding: 16px 0;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
  color: black;
}

.productionCompany {
  height: 40px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;

  & img {
    max-height: 100%;
  }
}