.mantine-AppShell-main {
    width: 100%;
    padding: 55px 90px 0 90px;
    background-color: var(--grey-100);
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1300px) {
    .mantine-AppShell-main {
        padding: 45px 40px 0 40px !important;
    }
}

.movieInfoPageContent {
    width: 800px;
    margin: 0 auto;
}

.mantine-Loader-root {
    display: block;
    margin: 200px auto;
    grid-column: 1/3;
}
