.movieCard {
    display: flex;
    flex-direction: row !important;
    width: 50%;
    max-height: 218px;
    padding: 24px;
}

.movieCardImage {
    height: 100%;
    width: 120px;
}

.movieCardContent {
    display: flex;
}

.movieCardDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movieCardGenres {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: nowrap;
}

.title {
    color: var(--purple-500);
    font-size: 20px;
}

.rating {
    display: flex;
    flex-direction: row;
}
