.movieCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 218px;
    padding: 24px;
    border-radius: 12px;
    background-color: var(--white);
    overflow: hidden;
    cursor: pointer;
}

.movieCardImage {
    height: 100%;
    min-height: 170px;
    min-width: 120px;
    max-width: 120px;
}


.title {
    color: var(--purple-500);
    font-size: 20px;
}


