@import './shared/styles/inputs.css';

.mantine-AppShell-main {
    padding: 45px 90px 0 90px;
    background-color: var(--grey-100);
}

.mantine-Title-root {
    margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
    .mantine-AppShell-main {
        padding: 45px 40px 0 40px !important;
    }
}